@*
    カテゴリデータを登録する画面
*@
@{
    @model CategoryModel

    int id = 0;
    string name = "";
    string createAt = "";

    if (ViewBag.categoryData != null)
    {
        id = ViewBag.categoryData.Id;
        name = ViewBag.categoryData.Name;
        createAt = ViewBag.categoryData.CreateAt;
    }
}
<input type="hidden" id="categoryID" value="@id" />
<input type="hidden" id="createAt" value="@createAt" />
<div class="form-group">
    <label for="name">カテゴリ名</label>
    <input type="text" class="form-control" id="name" placeholder="カテゴリ名" value="@name" />
</div>
<div class="float-right">
    @{
        if (id > 0)
        {
            <button type="button" class="btn btn-primary" onclick="modifyCategory()">修正</button>
        }
        else
        {
            <button type="button" class="btn btn-primary" onclick="addCategory()">登録</button>
        }
    }

</div>

@section Scripts{
    <script type="text/javascript">
        async function modifyCategory() {
            if (!isValidForm()) {
                return
            }
            data = createRequestData("modify")
            await getResponse("/Category/Modify", "POST", data, "/Category/List", 1000)
        }
        async function addCategory() {
            if (!isValidForm()) {
                return
            }

            data = createRequestData("add")

            await getResponse("/Category/Add", "POST", data, "/Category/List", 1000)
        }

        // 必需値が入力されたか確認する
        function isValidForm() {
            let name = document.querySelector("#name").value

            if (name.length == 0) {
                showMessage("企業名を入力してください。", "warning")
                return false
            }
            return true
        }

        function createRequestData(reqType) {
            if (reqType == "add") {
                return {
                    name: document.querySelector("#name").value,
                }
            }

            if (reqType == "modify") {
                return {
                    id: document.querySelector("#categoryID").value,
                    name: document.querySelector("#name").value,
                    createAt: document.querySelector("#createAt").value,
                }
            }

            showMessage(`javascript warning: createRequestDataの関数に想定外のParameter。reqType：${reqType}`, "warning")
            return {}
        }
    </script>
}